<main class="container">
    {{#each posts as |post|}}
        <section id="post-item">
            <div id="post-title" class="dashboard-item display-flex justify-space-between align-center">
                <h2 id="title-text" data-id={{id}}>{{title}}</h2>
                <p id="posted-by">{{format_date createdAt}}</p>
            </div>
        </section>
    {{/each}}
</main>

<form class="form new-post">
  <div class="form-group">
    <button class="btn" type="submit" id="new-btn" >
      <i class="fa-solid fa-plus"></i>New Post
    </button>
  </div>
</form>

<script src="/js/dashboard.js"></script>
