<main class="container">
  <div class="row post-section">
    <div class="col-md-12">
      <div id="post-title">
        <h2 id="title-text">Edit Post</h2>
      </div>

      <form class="form post-form" id="post-content">
        <div class="form-group">
          <label for="title" class="form-label">Title</label>
          <input class="form-input" type="text" id="title" />
        </div>
        <div class="form-group">
          <label for="content" class="form-label" >Content</label>
          <textarea class="form-input" type="text" id="content"></textarea>
        </div>
        <div class="form-group">
          <button class="btn" type="submit" id="submit-btn" >Update Post</button>
        </div>
        <div class="form-group">
          <button class="btn" type="submit" id="delete-btn" >Delete</button>
        </div>
      </form>
    </div>
  </div>
</main>