/* declare variables */
:root {
    --theme-color-1: rgba(43, 21, 18, 0.885); 
    --theme-color-2: rgb(220, 233, 216);  
    --theme-color-3: rgba(204, 206, 225, 0.784);   
    --theme-color-4: rgb(201, 86, 86); 
}

/* styles for home page */
* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

body {
    background-color: var(--theme-color-2);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    background-color: var(--theme-color-1);
    border-bottom: 5px solid var(--theme-color-2); 
}

h1 {
    margin: 3% 4%;
    padding: 0.5% 2%;  
    font-size: 250%;
    width:fit-content; 
    background-color: var(--theme-color-2);
    color: var(--theme-color-1); 
    border-radius: 10px;
    box-shadow: 5px 5px var(--theme-color-3);
}

a {
    color: var(--theme-color-2); 
    text-decoration: none;
    text-align: center;
}

a:hover {
    color: var(--theme-color-4); 
}

nav{
    font-size: 160%;
    width: 1000px; 
    margin-top: 1.5%; 
}

.nav-item{
    padding-left: 5%;
}

i{
    padding-right: 4%; 
}

.container {
    padding: 0; 
    margin: 3%;
}

#post-title {
    background-color: var(--theme-color-1);
    color: var(--theme-color-3); 
    width: 100%; 
    display: flex; 
}

#post-item #post-title #title-text:hover {
    cursor: pointer;
    color: var(--theme-color-2); 
}

#title-text { 
    color: var(--theme-color-3); 
    margin: 1.5%; 
}

#posted-by {
    font-size: 150%;
    margin: 1.2%; 
    text-align: right;
}

#post-content {
    border: 5px solid var(--theme-color-1); 
    margin-bottom: 3%; 
}

#content-text {
    font-size: 130%;
    padding: 1%; 
}

.btn {
    background-color: var(--theme-color-1); 
    color: var(--theme-color-2);
    border-radius: 8px;
}

.btn:hover {
    background-color: var(--theme-color-3);
    color: var(--theme-color-4);
}

/* styles for login page */
.login-form {
    padding: 3%;
}

.login-form .form-label {
    font-size: 150%; 
}

.login-form .form-input {
    font-size: 150%;
}

.login-form .btn {
    font-size: 150%;
    margin-top: 1%;
    width: 100%; 
}

#change-text:hover {
    cursor: pointer;
    color: blue; 
    border: 2px solid var(--theme-color-1); 
}

/* styles for dashboard page */
.dashboard-item {
    border-radius: 8px;
    margin-bottom: 2%;
}

.post-form {
    padding: 3%;
}

.post-form .form-label {
    font-size: 150%; 
}

.post-form .form-input {
    font-size: 150%;
}

.post-form .btn {
    font-size: 150%;
    margin-top: 1%;
    width: 100%; 
}

.new-post {
    margin-top: auto;
    margin-bottom: 3%;
    width: 79%; 
}

.new-post .form-group {
    display: flex; 
    justify-content: center;
}

#new-btn {
    font-size: 150%;
}

/* responsive styles */
@media screen and (max-width: 985px) {  
    #detail-card {
        width: 32%; 
    }

    #detail-content {
        width: 52%; 
    }

    #review-content {
        width: 92%;
    }

    #add-review-box {
        width: 92%; 
    }
}

@media screen and (max-width: 767px) {
    h1 {
        margin: 2%; 
        font-size: 200%;
    }

    .item-text{
        display: none; 
    }

    #order-count{
        font-size: 70%;
        padding: 1.2% 5%; 
    }

    nav{
        width: 70px; 
    }

    #home-banner {
        height: 200px; 
    }

    .card {
        height: 290px; 
        width: 190px; 
    }

    .img-thumbnail {
        height: 200px;
    }

    #checkout-desc{
        display: none;
    }
}

@media screen and (max-width: 560px) {
    #product-detail {
        display: block; 
    }

    #detail-card {
        width: 50%; 
    }    
    
    #detail-content {
        width: 92%; 
    }

    #review-content {
        width: 92%;
    }

    #add-review-box {
        width: 92%; 
    }
}